<div class="d-flex justify-content-end social_icon">
  <%= link_to user_facebook_omniauth_authorize_path do %>
    <span><i class="fa fa-facebook-square"></i></span>
  <% end %>
  <span><i class="fa fa-google-plus-square"></i></span>
  <span><i class="fa fa-twitter-square"></i></span>
</div>
